#out {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px;
  }

/* .material-symbols-outlined {
    margin: 0;
    position: relative;
  }
  
.count {
    position: relative;
    top: 10px;
    right: -30px;
    font-size: 10px;
    color: black;
  }
*/
  
  .star {
    background-color: black;
    color: yellow;
    font-size: 20px;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    font-size: 50px;
    position: relative;
    text-align: center;
    line-height: 100px;
  }
  .starNum {
    position: absolute;
    font-size: 10px;
    right: 10px;
    top: 10px;
    line-height: initial;
  }